$darkBackground: rgb(43, 43, 43);
$lightBackground: rgb(228, 222, 222);

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.paper {
	display: grid;
	margin: auto;
	padding: 15px;
	width: 21cm;
	background-color: white(243, 11, 11);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	.line {
		margin: auto;
		margin-bottom: 5px;
		width: 90%;
		height: 2.5px;
		background-color: orangered;
	}

	.box h1 {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.box h2 {
		text-transform: uppercase;
		margin-left: 7%;
		margin-top: 1%;
	}

	.box h3 {
		padding-left: 8%;
		padding-top: 10px;
	}

	.box h4 {
		margin-left: 5%;
	}

	.box p {
		margin-top: 10px;
		margin-left: 5%;
	}
	.company {
		margin-top: 10px;
		text-decoration: none;
		color: orangered;
	}
	.flag {
		width: 15;
		height: 8;
	}
	.habilities {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.habilities div {
		height: 50px;
		width: 50px;
		background-color: orangered;
	}

	.table {
		padding: 5%;
		padding-top: 2%;
	}

	.table th {
		text-transform: uppercase;
		background-color: orangered;
		color: white;
	}

	.table td {
		text-align: center;
		text-transform: uppercase;
		padding: 10px;
		background-color: rgb(241, 241, 240);
		color: rgb(71, 71, 71);
	}
}
